*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul {
    list-style: none;
}



body {
    color: #505050;
    font-family: 'Montserrat', 'Romul';
    font-size: 16px;
    line-height: 28px;
    
}
.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container__content {
    max-width: 970px;
    margin: 0 auto;
}

.section__line {
    border-bottom: 1px solid rgba(200, 212, 216, .5);
}

.title {
    font-family: Georgia;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #4E5665;
    margin-bottom: 22px;
    font-weight: 400px;

}

.header {
    margin-top: 20px;
}

.header__top {
    display: flex;

}

.header__top__phons__massengers {
    padding-top: 21px;
    white-space: nowrap;
    padding-left: 15px;
    border-top: 1px solid rgb(47, 44, 52);
    width: 100%;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    letter-spacing: 1px;
    max-width: 493.5px;
}

/* .header__top__phons__massengers::after{
    content: "";
    border-top: 2px solid rgb(47, 44, 52);
    position: absolute;
    width: 65px;
} */

.header__top__phons {

    width: 155px;
    height: 40px;

}

.header__top__phons__nomber {
    font-size: 16.667px;
    font-family: "Montserrat";
    color: rgb(47, 44, 52);
    font-weight:bolder;
    
}

/* .header__top__phons__nomber:hover {
    color: rgb(208, 170, 140);
    animation: all 0.3s;
} */

.header__top__phons__text {
    font-size: 10px;
    line-height: 10px;
    font-family: "Montserrat";
    color: rgb(208, 170, 140);
    text-transform: uppercase;
    text-align: left;

}

.header__top__phons__text::after {
    content: "";
    border-top: 1px solid rgb(208, 170, 140);
    position: absolute;
    width: 37px;
    margin-top: 5px;
    margin-left: 10px;

}

.header__top__massangers {
    font-size: 16.667px;
    font-family: "Montserrat";
    color: rgb(47, 44, 52);
    text-align: left;
    width: 157px;
    height: 40px;
    margin-left: 78px;



}

.header__top-logo img {
    
    background-repeat: no-repeat;
    margin: 0 auto;
}

.header__top-logo::after,
.header__top-logo::before {
    content: "";
    border-top: 1px solid rgb(47, 44, 52);
    position: absolute;
    width: 100px;
    margin-top: 12px;
}

.header__top-logo::after {
    margin-left: -56px;
}

.header__top-logo::before {
    margin-left: -45px;
}


.header__top__tarif__order {
    padding-top: 28px;
    padding-right: 15px;
    padding-left: 72px;
    border-top: 1px solid rgb(47, 44, 52);
    float: right;
    width: 100%;
    max-width: 493.5px;
    margin-top: 12px;
    display: flex;
    flex-direction: row;


}

.header__top__tarif {
    font-size: 12.5px;
    font-family: "Montserrat";
    color: rgb(47, 44, 52);
    text-transform: uppercase;
    line-height: 30px;
    border: 1px solid rgb(47, 44, 52);
    width: 186px;
    height: 30px;
    text-align: center;
    padding: 0 20px 0 20px;
    margin-left: 12px;
    font-weight:bolder;
}

.header__top__order {
    font-size: 12.5px;
    font-family: "Montserrat";
    color: rgb(47, 44, 52);
    text-transform: uppercase;
    line-height: 30px;
    border: 1px solid rgb(47, 44, 52);
    width: 186px;
    height: 30px;
    text-align: center;
    padding: 0 20px 0 20px;
    margin-left: 23px;
    font-weight:bolder;
}

.header__top__tarif:hover,
.header__top__order:hover {
    border: none;
    background-color: rgb(208, 170, 140);
    color: #ffffff;
    transition: all .5s;

}


.header__top__phons__massengers-for-mobil{
    display: none;
}

.header__nav {
    background: linear-gradient(to right, rgb(47, 44, 52) 50%, rgb(68, 58, 59));
    /* background-color: rgb(47, 44, 52); */
    width: 100%;
    margin-top: 10px;
    

}

.menu {
    height: 60px;
    max-width: 100%;
    padding: 0 15px;


}

.menu__top  {
     
     display: flex;
     color: rgb(255, 255, 255);
     
     justify-content: space-between;
    
    
}
.menu__item { 
    height: 100%;
    font-size: 15px;
    font-family: "Romul";
    text-transform: uppercase;
    line-height: 16px;
    border-right: 1px solid rgb(255, 255, 255,.5);
    height: 16px; 
    margin: 20px 0 20px 0;
    font-weight: normal;
}

.menu__item-last{
    border-right: none;

}
.menu__item a {
   
    padding-right: 72px;
    white-space: nowrap;
}
.menu__item-last a{
    padding-right: 0;
}

.navbar {
    padding: 0 15px;
    margin: 0 auto;  
}

.navbar_items {
    width: 100%;
    font-size: 10px;
    font-family: "Montserrat";
    color: rgb(47, 44, 52);
    text-transform: uppercase;
    line-height: 10px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 32px;
    padding-top: 12px;
    border-bottom:2px solid  rgba( 47, 44, 52, 0.102 ) ;

}


.navbar__item {
    padding-left: 10px;  
}

.navbar__item-last {
    border: none;
    padding: none;

}

.navbar__item:hover {
    color: rgb(208, 170, 140);
    transition: all .3s;
}


.about__pegasus {
    margin: 30px auto;
}

.about__pegasus__title-small {
    font-size: 16.667px;
    font-family: "Montserrat";
    color: rgb(47, 44, 52);
    text-transform: uppercase;
    line-height: 13px;
    margin: 0;
    padding-bottom: 15px;
    font-weight: normal;
    letter-spacing: 1px;
}

.about__pegasus__title-big {
    font-size: 37.5px;
    font-family: "Romul";
    color: rgb(47, 44, 52);
    text-transform: uppercase;
    text-align: center;
    line-height: 33px;
    font-weight: normal;
}

.about__pegasus__title-big::after,
.about__pegasus__title-big::before {
    content: "";
    border-top: 2px solid rgb(208, 170, 140);
    position: absolute;
    width: 80px;
    margin-top: 15px;

}

.about__pegasus__title-big::after {
    margin-left: 17px;
}

.about__pegasus__title-big::before {
    margin-left: -93px;
}

.about__pegasus__text {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(52, 52, 52);
    line-height: 20px;
    text-align: center;
    font-weight: 600;
    padding: 5px 15px;
    

}

.main__contents {
    height: 100%;
    font-weight: 600;
    padding: 10px 15px;
}

.content {
    margin: 0 auto;
    text-align: center;
}

.content__left {
    max-width: 550px;
    float: left;
    margin-bottom: 40px;
    justify-content: space-between;
}

.content__right {
    max-width: 550px;
    float: right;
    margin-bottom: 40px;
    justify-content: space-between;
}

.content__image img{
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
}

.content__title {
    font-size: 25px;
    font-family: "Romul";
    line-height: 30px;
    color: rgb(47, 44, 52);
    text-transform: uppercase;
    padding: 26px 0 28px 0;
    font-weight: normal;
    
}
hr{
    border: none;
    margin: 0 auto;
    color : rgb(208, 170, 140);
    background-color : rgb(208, 170, 140);
    width: 90px;
    height: 1px;
    z-index: 50;
}

.content__text {
    font-size: 12.5px;
    font-family: "Montserrat";
    color: rgb(47, 44, 52);
    text-align: center;
    line-height: 20px;
    padding-top: 26px;
    padding-bottom: 32px;
    



}


.content__btn {
    margin: 0 auto;
    text-align: center;

}

.content__btn-btn {

    width: 275px;
    height: 43px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(47, 44, 52);
    text-transform: uppercase;
    text-align: center;
    background-color: #ffffff;
    font-weight: 600;
    cursor: pointer;


}





.footer {

    margin-top: auto;
    width: 100%;
    height: 338px;
    background-repeat: no-repeat;
   padding-top: 40px;
   padding-bottom: 30px;
    z-index: 99;
}

.footer__items {
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, .5);
    padding: 0 15px;
 

}



.footer__item-title {
    font-family: "Romul";
    font-size: 18.75px;
    line-height: 15px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: normal;
    white-space: nowrap;
}

.footer__item-title-car::before,
.footer__item-title-our-service::before,
.footer__item-title-about-us::before {
    content: "";
    border-bottom: 2px solid rgb(208, 170, 140);
    position: absolute;
    width: 68px;
    padding-top: 30px;
}

.footer__item-link {
    
}
.footer__item-list{
    margin-top: 53px;
}

.footer__item-list li {
    font-size: 15.5px;
    font-family: "Montserrat";
    line-height: 15px;
    padding-bottom: 9px;
}
.footer__item-list li a:hover {
    color: rgba(255, 255, 255);
}


.footer__item-list-order-tariv-social {
    width: 185px;
}

.footer__item-title-border {
width: 260px;
    padding-left: 70px;
}

.footer__item-title-order {
    font-size: 16.667px;
    font-family: "Montserrat";
    color: rgba(255, 255, 255, .6);
    text-transform: uppercase;
    line-height: 16px;
    text-align: center;
    width: 100%;
    padding-bottom: 9px;
    margin-bottom: 18px;
    border-bottom: 2px solid rgba(255, 255, 255, .6);
}

.footer__item-title-tariv {
    font-size: 16.667px;
    font-family: "Montserrat";
    color: rgba(255, 255, 255, .6);
    text-transform: uppercase;
    line-height: 16px;
    text-align: center;
    width: 100%;
    padding-bottom: 9px;
    margin-bottom: 18px;
    border-bottom: 2px solid rgba(255, 255, 255, .6);

}

.footer__item-title-order:hover,
.footer__item-title-tariv:hover {
    color: rgba(255, 255, 255);
    border-bottom: 2px solid rgba(255, 255, 255);
    transition: all .3s;

}

.footer__item-order-tariv-social-border {
    border-left: 1px solid rgb(255, 255, 255, .6);
    padding-left: 85px;

}

.footer__item-list-border {
    border-left: 1px solid rgb(255, 255, 255, .6);
    padding-left: 75px;
}


.footer__contacts__and__social {
    background-color: rgba(255, 255, 255, .15);
    width: 100%;
    height: 120px;
    padding: 10px 15px;
}

.footer__phons {}

.footer__phon__number {
    font-size: 16.667px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-align: left;
    width: 100%;
    line-height: 18px;
    

}



.footer__phon__text {
    font-size: 10px;
    font-family: "Montserrat";
    color: rgb(154, 154, 154);
    text-transform: uppercase;
    text-align: right;
    line-height: 10px;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-weight: normal;

}


.footer__social__icon {
  font-size: 33px;
  text-align: justify;
  letter-spacing: 2px;
}

.footer__social__icon__google{
    color:rgb(208, 170, 140) ;
}
 


.footer__copy {
    font-family: "Montserrat";
    padding-top: ;
    padding:40px 15px 32px 15px;
    text-align: left;
    font-size: 15.4px;
    line-height: 15px;
    color: rgba(255, 255, 255, .5);
}

.header__top__mid__screan {
    display: none;
}

.header__top__phons__massengers-icons {
    display: none;
}

.about__pegsus__mobile__virsian {
    display: none;

}

.menu__btn {
    display: none;
}

.header__nav__mobile__vr {
    display: none;
}

.footer__item-title-car__mobile__vr,
.footer__item-title-our-service__mobile__vr,
.footer__item-title-about-us__mobile__vr {
    display: none;
}




@font-face {
    font-family: "Romul"; 
    src: url("../fonts/ofont.ru_Romul.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }