*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul {
    list-style: none;
}

 

body {
    color: #505050;
    font-family: 'Montserrat', "Montserrat";
    font-size: 16px;
    line-height: 28px;
    font-weight: 400px;

}


.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.container__content {
    max-width: 970px;
    margin: 0 auto;
}

.section__line {
    border-bottom: 1px solid rgba(200, 212, 216, .5);
}

.title {
    font-family: Georgia;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #4E5665;
    margin-bottom: 22px;
    font-weight: 400px;

}
.header{
    margin-top: 20px;
}

.header__top { 
    display: flex;  
    
}

.header__top__phons__massengers { 
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 60px;
    float: left;
    border-top: 2px solid rgb(47, 44, 52); 
    width: 100%;
}
/* .header__top__phons__massengers::after{
    content: "";
    border-top: 2px solid rgb(47, 44, 52);
    position: absolute;
    width: 65px;
} */

.header__top__phons {
    font-size: 16.667px;
    font-family: "Montserrat";
    color: rgb( 47, 44, 52 );
    text-align: left;
    max-width: 158px;
    max-height: 50px;
    float: left;   
 }
.header__top__phons__nomber:hover {
    border-bottom: 2px solid  rgb( 208, 170, 140 );
    width: 100%;
    animation: all  0.3s;
 }

.header__top__phons__text {
    font-size: 10px;
    font-family: "Montserrat";
    color: rgb( 208, 170, 140 );
    text-transform: uppercase;
    text-align: left;
    
 }
 .header__top__phons__text::after{
    content: "";
    border-top: 1px solid  rgb( 208, 170, 140 );
    position: absolute;
    width: 38px;
    margin-top: 13px;
    margin-left: 10px;

 }

.header__top__massangers{
    font-size: 16.667px;
    font-family: "Montserrat";
    color: rgb( 47, 44, 52 );
    text-align: left;
    width: 158px;
    height: 50px;
    float: right;
 
    
}

.header__top-logo {
    width: 640px;
    height: 93px;
    background-repeat: no-repeat;
    margin: 0 auto;
    
    
}
 .header__top-logo::after,
 .header__top-logo::before{
    content: "";
    border-top: 2px solid rgb(47, 44, 52);
    position: absolute;
    width: 100px;
}
.header__top-logo::after{
    margin-left: -45px;
} 
.header__top-logo::before{
    margin-left: -45px;
} 


.header__top__tarif__order {
    padding-top: 50px;
    padding-right: 15px;
    padding-left: 60px;
    border-top: 2px solid rgb(47, 44, 52);
    float: right; 
    width: 100%; 

   
}
.header__top__tarif { 
    font-size: 12.5px;
    font-family: "Montserrat";
    color: rgb( 47, 44, 52 );
    text-transform: uppercase;
    line-height: 30px;
    float: left;
    border: 1px solid rgb(47, 44, 52);
    max-width: 184px;
    max-height: 28px;
    text-align: center;
    padding: 0 20px 0 20px;
    
    
}
.header__top__order { 
    font-size: 12.5px;
    font-family: "Montserrat";
    color: rgb( 47, 44, 52 );
    text-transform: uppercase;
    line-height: 30px;
    float: right;
    border: 1px solid rgb(47, 44, 52);
    max-width: 184px;
    max-height: 28px;
    text-align: center;
    padding: 0 20px 0 20px;
   
}
.header__top__tarif:hover,
.header__top__order:hover{
    border: none;
    background-color: rgb(208, 170, 140);
    color: #ffffff;
    transition: all .5s;

}




.header__nav {
    background-color: rgb(47, 44, 52);
    max-width: 100%;
  
    margin-top: 30px;
    
}

.menu {
    height: 60px;
}

.menu__top {
    font-size: 18 px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    display: flex;
    height: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}

.menu__item { 
   
    white-space: nowrap;
}
.menu__item-link{
    padding: 20px 60px ;
}
.menu__item::after {
    content: "";
    border-right: 1px solid rgb(255, 255, 255);
    
}

.menu__item-last::after {
    border-right: none;
  
}

.menu__item:hover {
    color: rgb(208, 170, 140);
    transition: all .3s;
    padding-bottom: 5px;
}

.navbar {
   margin: 20px auto;
    width: 100%;


}

.navbar_items {
    font-size: 18 px;
    font-family: "Montserrat";
    color: rgb(47, 44, 52);
    text-transform: uppercase;
    line-height: 30px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding-top: 30px;
}


.navbar__item {
    padding-left: 10px;
}


.navbar__item::after {
    content: "";
    border-right: 1px solid rgb(47, 44, 52);
    padding-right: 10px;
   
}
.navbar__item-last::after {
    border: none;
    padding: none;
   
}
.navbar__item:hover{
    color:  rgb(208, 170, 140);
    padding-bottom: 3px;
    transition: all .3s;
}


.about__pegasus { 
    margin: 60px auto;
}

.about__pegasus__title-small {
    font-size: 16.667px;
    font-family: "Montserrat";
    color: rgb( 47, 44, 52 );
    text-transform: uppercase;
    margin: 0 auto;
    height: 13px;
 }

.about__pegasus__title-big { 
    font-size: 37.5px;
  font-family: "Montserrat";
  color: rgb( 47, 44, 52 );
  text-transform: uppercase;
  text-align: center;
  margin: 20px auto;
  line-height: 33px;
}
.about__pegasus__title-big::after,
.about__pegasus__title-big::before{
    content: "";
    border-top: 2px solid rgb( 208, 170, 140 );
    position: absolute;
    width: 80px;
    margin-top: 18px;

}
.about__pegasus__title-big::after{
margin-left: 20px;
}
.about__pegasus__title-big::before{
    margin-left: -94px;
}
.about__pegasus__text {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb( 52, 52, 52 );
    line-height:16px;
    text-align: center;
  
 }

 .main__contents { 
     height: 100%;  
 }

.content {
    margin: 0 auto;
   

 }
.content__left {
    max-width: 550px;
    float: left;
    margin-bottom: 40px;
 }
 .content__right {
    max-width: 550px;
    float: right;
    margin-bottom: 40px;
 }
.content__image  {
    max-width: 550px;
    height: 241px;
    background-repeat: no-repeat;
}
.content__title {
  font-size: 25px;
  font-family: "Montserrat";
  color: rgb( 47, 44, 52 );
  text-transform: uppercase;
  text-align: center;
  height: 30px;
  margin: 15px auto;
 }
.content__text {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb( 47, 44, 52 );
    text-align: center;
    line-height: 20px;
    padding-top: 10px;
    
    
  }
 
  .content__btn-btn::before{
      content: "";
      border-bottom: 1px solid rgb( 208, 170, 140 );
      width: 100px;
      position: absolute;
      margin: -195px auto ;  
  }

.content__btn {
    margin: 10px auto;
    text-align: center;
    
 }
.content__btn-btn {
    
    width: 275px;
    height: 43px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb( 47, 44, 52 );
    text-transform: uppercase;
    text-align: center;

  
}



.page{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer{
    
    margin-top: auto;
    width: 100%;
    height: 338px;
    background-repeat: no-repeat;
    padding: 55px 0 32px;
    z-index: 99;
}
.footer__items {
    display: flex;
    justify-content: space-between;
    color: rgba( 255, 255, 255,.5 );

}
.footer__item-list li a:hover{
    color: rgba( 255, 255, 255 );
}
.footer__item{
    padding-left: 20px;

}

.footer__item-blog{
    margin-right: 10px;
  
    
}

.footer__item-title {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.footer__item-title-car::before,
.footer__item-title-our-service::before,
.footer__item-title-about-us::before{
    content: "";
    border-bottom:2px solid rgb( 208, 170, 140 );
    position: absolute;
    width: 68px;
    padding-top: 30px;

   
}

.footer__item-link {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 2px;
}


.footer__item-list { }

.footer__item-list-order-tariv-social {
    width: 185px;
 }
.footer__item-title-border { 
   
    padding-left: 70px;
}
.footer__item-title-order { 
    font-size: 16.667px;
    font-family: "Montserrat";
    color: rgba( 255, 255, 255,.6 );
    text-transform: uppercase;
    line-height: 22.5px;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid  rgba( 255, 255, 255,.6 );
}
.footer__item-title-tariv { 
    font-size: 16.667px;
    font-family: "Montserrat";
    color: rgba( 255, 255, 255,.6 );
    text-transform: uppercase;
    line-height: 22.5px;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid  rgba( 255, 255, 255,.6 );
   
}
.footer__item-title-order:hover,
.footer__item-title-tariv:hover{
    color: rgba( 255, 255, 255 ) ;
    border-bottom: 2px solid  rgba( 255, 255, 255 );
    transition: all .3s;
   
}
.footer__item-order-tariv-social-border{
    border-left: 1px solid rgb( 255, 255, 255,.6 );
    padding-left: 85px;
  
}
.footer__item-list-border{
    border-left: 1px solid rgb( 255, 255, 255,.6 );
    padding-left: 70px;
}
.footer__contacts__and__social {
    background-color: rgba( 255, 255, 255,.15 );
    width: 100%;
    height: 120px;
    padding: 5px 15px;
 }
.footer__phons { }
.footer__phon__number { 
 font-size: 16.667px;
  font-family: "Montserrat";
  color: rgb( 255, 255, 255,.6 );
  text-align: left;  
  width: 100%;
  line-height: 18px;
}
.footer__phon__number:hover{
    color: rgb( 255, 255, 255 );
}
.footer__phon__text { 
    font-size: 10px;
    font-family: "Montserrat";
    color: rgb( 154, 154, 154 );
    text-transform: uppercase;
    text-align: right;
    line-height: 12px;
    padding-right: 10px;
    padding-bottom: 5px;
  
}
.footer__social__icon { 
    display: table;
    width: 100%;
    line-height: 30px;
    
}
.footer__social__icon__instagram { display: table-cell;}
.footer__social__icon__facebook {display: table-cell; }
.footer__social__icon__google {display: table-cell; }
.footer__social__icon__linkedin { display: table-cell;}



.footer__copy {
    font-family: "Montserrat";
    padding-top: 40px;
    text-align: left;
    font-size: 12px;
    line-height: 12px;
    color: rgba( 255, 255, 255,.5 );
    padding-bottom: 8px;
}

.header__top__mid__screan{
    display: none;
}
.header__top__phons__massengers-icons{
    display: none;
}
.about__pegsus__mobile__virsian{display: none;

}
.menu__btn{
    display: none;
}
.header__nav__mobile__vr {
display: none;
}

.footer__item-title-car__mobile__vr,
.footer__item-title-our-service__mobile__vr,
.footer__item-title-about-us__mobile__vr{
    display: none;
}
